@import "tailwindcss";

@keyframes swipeUp {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-swipeUp {
  animation: swipeUp 1.8s ease-in-out forwards;
}

